{% extends 'base.html.twig' %}

{% block body %} 



<!-- Button trigger modal -->
 
  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form method="post">
        <div class="modal-body">
          

            
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
             
                <h1 class="h3 mb-3 font-weight-normal text-center">Se connecter</h1>
                
                <div class="form-group mb-3">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    
                </div>

                <div class="form-group mb-3">
                    <label for="inputPassword">mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                > 


                <p class="text-muted text-end text-right">
                    vous n'avez pas de compte ? vous pouvez en <a href="{{ path('create_account_route') }}">créer un maintenant</a> gratuitement
                </p>

                <p class="text-muted text-end text-right">
                  Avez-vous oublié votre mot de passe ?  <a href="{{ path('forget_password_route') }}">réinitialisez-le </a> maintenantt
                </p>

           
            

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
</form>


      </div>
    </div>
  </div>







  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
         {{ form_start(form) }}
                <div class="modal-body">
                
                    {{ form_widget(form) }}
                                        

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Se connecter</button>
                </div>
        {{ form_end(form) }}


      </div>
    </div>
  </div>






<div class="intro">
    <header class="bg-intro">
        <div class="top-block d-md-flex justify-content-between">
            <div class="main-logo">
                <div class="d-flex top-logos">
                    
        
                    <div class="logo-bloc">
                        <img src="/images/tn.png" class="w-100" alt="">
                    </div>

                    <div class="logo-bloc">
                        <img src="/images/ote.png" class="w-100" alt="">
                    </div>
                    
        
                </div>
            </div>


            <div class="actionsbtn-header d-flex">
                <a  class="action-btn btn rounded-pill" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Se connecter</a>
                <a  href="{{ path('create_account_route') }}" class="action-btn btn rounded-pill">S'inscrire</a>
                
            </div>
        </div>


        <div class="main-logos">

            <img src="/images/logo.png"  class="app-logo"  alt="">

            
        </div>


        <div class="intro-text">
            <div class="title">La plateforme des <br>Tunisiens Du Monde</div> 
            <div class="sub-title">
                au profit des Tunisiens à l'étranger
            </div>
        </div>


    </header>



</div>




  



  
{% endblock %}
