{% extends 'base.html.twig' %}

{% block title %}PartnerSocialMedias{% endblock %}

{% block body %}
    <h1>PartnerSocialMedias</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partner_social_media.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ partner_social_media.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_partner_social_medias_index') }}">back to list</a>

    <a href="{{ path('app_partner_social_medias_edit', {'id': partner_social_media.id}) }}">edit</a>

    {{ include('partner_social_medias/_delete_form.html.twig') }}
{% endblock %}
